[submodule "excons"]
	path = excons
	url = git@github.com:marza-animation-planet/excons.git
[submodule "Little-CMS"]
	path = Little-CMS
	url = git@github.com:marza-animation-planet/Little-CMS
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:marza-animation-planet/yaml-cpp
[submodule "pystring"]
	path = pystring
	url = git://github.com/imageworks/pystring.git
[submodule "openexr"]
	path = openexr
	url = git@github.com:marza-animation-planet/openexr
[submodule "libexpat"]
	path = libexpat
	url = git@github.com:marza-animation-planet/libexpat
[submodule "pybind11"]
	path = pybind11
	url = git://github.com/pybind/pybind11
[submodule "glew"]
	path = glew
	url = git@github.com:marza-animation-planet/glew
[submodule "zlib"]
	path = zlib
	url = git@github.com:marza-animation-planet/zlib
