.DS_Store
attic
build*
_build*
_install*
dist*
mastercopy
*.pyc

/release
/debug
/.build
excons.cache
*.dblite
export/OpenColorIO/OpenColorABI.h
src/pyglue/PyDoc.h
src/core_tests/ocio_core_tests.sh
src/core_tests/ocio_core_tests.bat
ext/*/
/*_config.status
*.automake.*
*.cmake.*

