# SPDX-License-Identifier: BSD-3-Clause
# Copyright Contributors to the OpenColorIO Project.

.DS_Store
attic
build*
_build*
_install*
dist*
mastercopy
*.pyc
!*.yml
.vscode

/release
/debug
/.build
excons.cache
*.dblite
export/OpenColorIO/OpenColorABI.h
src/pyglue/PyDoc.h
src/core_tests/ocio_core_tests.sh
src/core_tests/ocio_core_tests.bat
ext/*/
/*_config.status
*.automake.*
*.cmake.*
/.sconf_temp/*
/config.log
/expat.status
